.voting-stats {
    background-color: #F1FAEE;
}

.voting-stats h1 {
    color: #1F2E4D;
    font-weight: bold;
    font-size: 3.2rem;
    padding: 40px 0 20px 0;
}

.center h2 {
    font-weight: bold;
}



.stats-container-outer {
    display: flex;
}


.elections-facts {
    margin: 20px;
    color: #1F2E4D;
    background-color: rgba(67, 111, 146, 0.1);
    padding: 5px 10px 5px 0;
}

.elections-facts h3 {
    font-weight: bold;
}

.elections-facts ul {
    text-align: left;
}

.elections-facts li {
    padding-bottom: 10px;
}

.ind-stat {
    display: flex;
    align-items: center;
    color: #1F2E4D;
}

.percentage-circle {
    border-radius: 90px;
    background-color: #436F92;
    width: 90px;
    height: 90px;
    flex: 1;
    color: #EDF7E9;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
} 

.percentage-circle h3 {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .stats-container-outer {
        display: block;
    }
}