.spreading-awareness {
  background-color: #1f2e4d;
  color: white;
}

.did-you-know-container {
    display: flex;
    justify-content: space-around;
}

.did-you-know-right p {
    padding: 40px;
    background-color: #a1D5D7;
    width: 500px;
}