.about {
    margin-bottom: 100px;
    background: linear-gradient(180deg, #436F92 35.94%, #1F2E4D 100%), linear-gradient(180deg, #EDF7E9 0%, #A1D5D7 100%), linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(0deg, #373737, #373737), linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #EDF7E9, #EDF7E9), linear-gradient(0deg, #1F2E4D, #1F2E4D), linear-gradient(0deg, #436F92, #436F92), linear-gradient(0deg, #A1D5D7, #A1D5D7), linear-gradient(0deg, #DA313C, #DA313C), #FFFFFF;
}

.mission-container {
    background-color: #A1D5D7;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

.mission-container img {
    width: 30vw;
    height: auto;
}

.mission-text {
    text-align: left;
    padding: 0 30px 0 30px;
}

.team-row {
    display: flex;
    background-color: #A1D5D7;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
}

.team-ind {
    padding: 10px 20px 0 20px;
    width: 150px;
}

.team-row img {
    border-radius: 10px;
    width: 120px;
}