body,
html {
    height: 100%;
}

.bg {
    background-image: url("../../Images/cover_page.jpeg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.floating-question {
    padding: 20px 50px 0 0;;
    text-align: right;
}

.red {
    color: #B51D11;
}

.text-block{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 97px;
    text-align: center;
    margin: 0 auto;
    margin-top: 500px;
    /* dark blue */
    color: #1F2E4D;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.text-block h4 {
    margin-bottom: 0px;
}

.title{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 146px;
    /* identical to box height */
    text-align: center;
    color: #1F2E4D;

}
.text-center{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    color: #1F2E4D;
}