body,
html {
    height: 100%;
}

.bg {
    background-image: url("../../Images/cover_page.jpeg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 146px;
    /* identical to box height */

    text-align: center;

    color: #1F2E4D;

}
.text-center{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */


    color: #1F2E4D;
}