/* GLOBAL STYLES */

.App {
  text-align: center;
}


header {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #A1D5D7;
  position: fixed;
  width: 100vw;
  top: 0px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.main {
  margin-top: 112px;
}