.nav{
  display: block;
  justify-content: space-between;
  float: right;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  float: right;
  padding-right: 6rem;
  margin-bottom: 10rem;
  /* identical to box height */

  text-decoration-line: underline;

  /* dark blue */

  color: #1F2E4D;
}
