/* .nav{
  display: block;
  justify-content: space-between;
  float: right;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  float: right;
  left: 38.82%;
  right: 51.32%;
  top: 26.79%;
  bottom: 24.11%;
  padding-right: 6rem;
  margin-top: 1rem;
  margin-bottom: 10rem;


  text-decoration-line: underline;



  color: #1F2E4D;
}

.l{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-right: 60rem;
  size: 2rem;
} */

.l {
  height: 100px;
  padding-left: 20px;
}

.nav {
  display:flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: underline;
  color: #1F2E4D;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  font-size: 1.3rem;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 1rem;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .nav-links a {
    font-size: 0.8rem;
    padding-right: 10px;
  }
}